body {
    margin: 0;
    font-family: 'Roboto';
    background-image: url('/login/image/background.png');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.box-login {
    display: flex;
    width: 30%;
    height: 400px;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-right: 12%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2935B2;
    border-radius: 20px;
    box-shadow: 0px 12px 90px #34363c;
}

.box-login h1 {
    color: #B9DAFA;
    font-weight: 800;
    margin-bottom: 6px;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #B9DAFA;
    color: #000;
    font-size: 12px;
    box-shadow: 10px;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #B9DAFA;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #000;
    font-weight: 400;
}

.button-login {
    font-size: 18px;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    margin-top: 20px;
    padding: 16px 0px;
    border-radius: 8px;
    outline: none;
    font-weight: 400px;
    color: #000;
    background-color: #87B8E8;
}

button:hover,
form .button-login input:hover {
    box-shadow: 0px 0px 8px #a2cdf7;
    transform: scale(1.01);
}