body {
    margin: 0;
    font-family: 'Roboto';
    background-image: url(../img/backgroundCadastro.png);
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;
}



.box-cadastro {
    display: flex;
    width: 35%;
    margin-top: 1.4%;
    margin-bottom:1.3%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: transparent;
    border: 2px solid #6CE5E8;
    border-radius: 36px;
    box-shadow: 0px 12px 90px #0a1052;
    height: 625px;
}

.alert {
    color: #fff;
}

.box-cadastro h1 {
    color: #6CE5E8;
    font-weight: 700;
    margin-bottom: 1px;
    margin-top: 8px;
    font-size: 38px;
}

.textfield select {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: transparent;
    border: 2px solid #6CE5E8;
    opacity: 5px;
    color: #d1d8d8;
    font-size: 12px;
    box-shadow: 10px;
    outline: none;
    box-sizing: border-box;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0px;
    width: 90%;
}

.textfield input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: transparent;
    border: 2px solid #6CE5E8;
    color: #d1d8d8;
    font-size: 12px;
    box-shadow: 10px;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #6CE5E8;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
}

option {
    background-color: #121b79 ;
    color: #fff;
    
}

.textfield input::placeholder {
    color: #d1d8d8;
    font-weight: 400;
}

.button-cadastro {
    font-size: 18px;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    margin-top: 20px;
    padding: 16px 0px;
    border-radius: 36px;
    outline: none;
    font-weight: 400px;
    color: #0a1052;
    font-weight: 700;
    background-color: #6CE5E8;
    margin-bottom: 0px;
    width: 50%;
}

button:hover,
form .button-cadastro input:hover {
    box-shadow: 0px 0px 8px #6CE5E8;
    transform: scale(1.01);
}

p {
    color: #6CE5E8;
    text-align: center;
}

p a{
    color: #6CE5E8;
}