* {
    font-family: 'Roboto';
}

body {
    background-color: #121B79;
    display: flex;
    justify-content: space-evenly;
}

.perfil {
    background-color: transparent;
    border: 2px solid #6CE5E8;
    display: flex;
    border-radius: 36px;
    height: 680px;
    margin-top: 15px;
    align-items: center;
    flex-direction: column;
    width: 16%;
}

img {
    width: 180px;
    height: 180px;
    margin-top: 40px;
}

.perfil h2 {
    color: #6CE5E8;
    margin-bottom: 0;
}

.perfil p {
    color: #6CE5E8;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 270px;
}

.perfil a {
    color: #6CE5E8;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;

}

.box {
    display: flex;
    height: 680px;
    background-color: transparent;
    border: 2px solid #6CE5E8;
    width: 70%;
    border-radius: 36px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.box h2 {
    color: #6CE5E8;
    font-weight: 500;
    font-size: 30px;
}

.box button {
    background-color: #6CE5E8;
    width: 50%;
    height: 15%;
    border-radius: 36px;
    border: 0;
    font-size: 50px;
    color: #121B79;
    font-weight: 700;
}
