
* {
    margin: 0;
    padding: 20px 20px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100%;
    width: 100%;
    background-color: #121B79;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.titulo  {
    text-align: center;
    width: 80%;
    background-color: #B9DAFA;
    border: 0;
    border-radius: 10px;
    color: #121B79;
}



.box-quiz {
    background-color: #B9DAFA;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
}

.resposta {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.fim {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.fim button {
    text-align: center;
}


/* 
.box-quiz {
    background-color: #B9DAFA;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
} */