/*Estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #175B65;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
/* posicionando os itens */
header{
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* cor  e inline do texto */
header a{
    color:#70878f;
    text-decoration: none;
    display: inline-block;
}
/* colocando efeito de clareamento e zoom no texto */
header a:hover{
    color: #DDEEF3;
    transform: scale(1.05);
    transition: 0.2s;
}
/* tirando a bolinha da li */
header nav ul{
    list-style-type: none;
}
/* colocando espaçamento na li  */
header nav ul li{
    display: inline-block;
    padding: 0 20px;
}
/* estilizando o botao entrar */
header .buttonEntrar button{
    padding: 7.8px 28px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 25px;
    border: 0;
    background-color: #DDEEF3;
    cursor: pointer;
    
}
/* colocando o sombreado no botão */
header .buttonEntrar button:hover {
    box-shadow: 0px 0px 4px #8be4ff;
}



